body {
	font-family: 'Ubuntu', sans-serif;
}

.footer {
	background-color: #111111;
	color: white;
	padding-top: 2%;
	padding-bottom: 2%;
}

p {
	margin: 0px;
}

.navbar {
	background: black;
	border: 0px;
	border-radius: 0px;
	margin: 0px;
}

.navbar .navbar-brand {
	font-weight: 700;
	color: white;
}

.carousel-caption {
	text-shadow: 1px 1px #000000;
}

.carousel-caption a {
	color: white;
}

.row {
	margin: 0px;
}

.social-menu {
	margin-top: 1%;
}

.why {
	color: white;
	background-color: #0C0C0C;
}

.why-header {
	margin-top: 2%;
	margin-bottom: 2%;
}

.why-content {
	margin-bottom: 2%;
}

.nav .dropdown-toggle {
	padding-left: 0px;
}

.thumbnail {
	box-shadow: 1px 1px 10px #AAAAAA;
}

.thumbnail a {
	color: black;
}

.thumbnail a:hover {
	text-decoration: none;
}

.thumbnail .btn {
	color: white;
}

.product-row {
	margin-top: 1%;
}

.cat-header {
	margin-top: 1%;
}

.prod-sum {
	margin-bottom: 4%;
}

.thumbnail .col-md-8 {
	padding: 0px;
}

.thumbnail .col-md-4 {
	padding: 0px;
}

.thumbnail .rating-btn {
	color: black;
	width: 35%;
}

.shop-prod-btn {
	width: 63%;
}

.rating {
	color: #595959;
}

.rating h3 {
	margin-bottom: 0px;
}

.well {
	margin: 2%;
	background: none;
}

.prod-header .col-md-8 {
	padding: 0px;
}

.prod-header .col-md-4 {
	padding: 0px;
}

.qty-form {
	margin-top: 3%;
	margin-bottom: 3%;
}

.qty-form .col-xs-6 {
	padding: 0px;
}

.qty-form-qty {
	width: 97%;
}

.qty-form-btn {
	width: 97%;
}

#reviews-header {
	background-color: #0C0C0C;
	color: white;
}

.btn-cart {
	background-color: #444444;
	border-color: #444444;
	color: white;
}

.btn-cart:hover {
	background-color: #111111;
	border-color: #111111;
	color: white;
}

.signin-row {
	margin-top: 1%;
}

.signup-row {}

.forgot-row {
	margin-bottom: 5%;
}

.btn-search {
	background-color: black;
	color: #AAAAAA;
}

.btn-search:hover {
	background-color: black;
	color: white;
}

.navbar-form {
	padding: 0px;
}

#search-form-query {
	background: black;
	border: 0px;
}

#search-form-query:focus {
	box-shadow: 0px 1px 0px white;
	color: white;
	border-radius: 0px;
}

.btn-chk-out {
	margin-bottom: 5%;
}

#profile-img {
	margin-top: 3%;
	margin-bottom: 1%;
}

.cancel {
	color: black;
}

.cancel:hover {
	color: #AAAAAA;
}

.verify-row {
	margin-bottom: 2%;
}
