<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><span class="fa fa-bolt fa-lg"></span> Get Fit</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<form class="navbar-form" role="search" method="get" action="/shop/">
						<div class="form-group">
							<input type="text" class="form-control text-right" placeholder="Enter query and hit search!" name="query" id="search-form-query">
						</div>
						<button type="submit" class="btn btn-search"><span class="fa fa-search fa-lg"></span> Search</button>
					</form>
				</li>

				<li><a href="/shop?category=Apparels">Apparels</a></li>

				<li><a href="/shop?category=Supplements">Supplements</a></li>

				<li><a href="/shop?category=Accessories">Accessories</a></li>


				<!-- All the categories go before this line -->
				<li><a href="/shop"><span class="fa fa-star fa-lg"></span> Popular</a></li>
				<li><a href="/cart"><span class="fa fa-shopping-cart fa-lg"></span> Cart</a></li>
				{% if request.session.username %}
				<li><a href="/profile"><span class="fa fa-user fa-lg"></span> {{ request.session.username }}</a></li>
				<li><a href="/signout"><span class="fa fa-user fa-lg"></span> Sign out</a></li>
				{% else %}
				<li><a href="/enter"><span class="fa fa-user fa-lg"></span> Enter</a></li>
				{% endif %}
			</ul>
		</div>
	</nav>