<!DOCTYPE html>
<html lang="en">

<head>
	<title>Get Fit</title>
	{% include 'includes/header.html' %}
</head>


<body>
	{% include 'includes/navbar.html' %}

	<div class="container">
		<div class="row">
			<h2 class="text-center">Your cart</h2>
			<div class="col-md-8 col-md-offset-2">
				<table class="table">
					<thead>
						<tr>
							<th>Product</th>
							<th>Unit price</th>
							<th>Quantity</th>
							<th>Total price</th>
						</tr>
					</thead>
					<tbody>
						{% for cart in carts %}
						<tr>
							<td><a href="/product/?productid={{cart.productid}}">{{cart.productname}}</a></td>
							<td>{{ cart.uprice | floatformat:2 }}</td>
							<td>{{ cart.count }}</td>
							<td>{{ cart.tprice | floatformat:2 }}</td>
						</tr>
						{% endfor %}
						
						<tr>
							<td>Total</td>
							<td></td>
							<td></td>
							<td>{{ total | floatformat:2 }}</td>
						</tr>
					</tbody>
				</table>

				<div class="row btn-chk-out">
					<a href="/checkout" class="btn btn-default btn-block">
						Check out
					</a>
				</div>
			</div>
		</div>

	</div>

	{% include 'includes/footer.html' %}


</body>

</html>
