<!DOCTYPE html>
<html lang="en">

<head>
<title>Get Fit</title> {% include 'includes/header.html' %}
</head>


<body>

	{% include 'includes/navbar.html' %}

	<div class="container">
		<div class="row forgot-row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="text-center">Finalize order</h2>

				<form method="post" action="/place_order/">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" name="contactno" class="form-control"
							id="contactno" placeholder="Enter contact number">
					</div>
					<div class="form-group">
						<input type="text" name="address" class="form-control"
							id="address" placeholder="Enter delivery address">
					</div>

					<div class="form-group">
						<label>Payment method:</label>


						<div class="radio">
							<label> <input type="radio" name="optradio"
								value="cashOnDelivery" onclick="handleClick(this);"
								checked="checked">Cash on delivery
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="optradio"
								value="creditCard" onclick="handleClick(this);">Credit
								card
							</label>
						</div>
						<div class="radio">
							<label> <input type="radio" name="optradio" value="bKash"
								onclick="handleClick(this);">bKash
							</label>
						</div>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" id="paymentInfo"
							name="paymentinfo">
					</div>

					<button type="submit" class="btn btn-default btn-block">Place
						order</button>
				</form>
			</div>
		</div>

	</div>

	{% include 'includes/footer.html' %}


</body>

<script>
	var curVal = 0;
	var elem = document.getElementById("paymentInfo");

	function handleClick(myRadio) {
		curVal = myRadio.value;

		if (curVal == "creditCard") {
			elem.placeholder = "Enter credit card number";

		} else if (curVal == "bKash") {
			elem.placeholder = "Enter bKash token";
		} else {
			elem.placeholder = "No need to enter anything";
		}
	}
</script>

</html>
