<!DOCTYPE html>
<html lang="en">

<head>
	<title>Get Fit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../static/img/favicon.png" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/styles.css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400italic,700,500,500italic,700italic,400' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html"><span class="fa fa-bolt fa-lg"></span> Get Fit</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<li>
					<form class="navbar-form" role="search">
						<div class="form-group">
							<input type="text" class="form-control text-right" placeholder="Enter query and hit search!" name="query" id="search-form-query">
						</div>
						<button type="submit" class="btn btn-search"><span class="fa fa-search fa-lg"></span> Search</button>
					</form>
				</li>

				<li><a href="shop.html"><span class="fa fa-compass fa-lg"></span> Explore</a></li>

				<li><a href="#">Apparels</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>

				<li><a href="#">Supplements</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>

				<li><a href="#">Instruments</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>


				<!-- All the categories go before this line -->
				<li><a href="popular.html"><span class="fa fa-star fa-lg"></span> Popular</a></li>
				<li><a href="cart.html"><span class="fa fa-shopping-cart fa-lg"></span> Cart</a></li>
				<li class="active"><a href="enter.html"><span class="fa fa-user fa-lg"></span> Enter</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="row forgot-row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="text-center">Finalize order</h2>

				<form method="post" action="">
					<div class="form-group">
						<input type="text" name="contactno" class="form-control" id="contactno" placeholder="Enter contact number">
					</div>
					<div class="form-group">
						<input type="text" name="address" class="form-control" id="address" placeholder="Enter delivery address">
					</div>

					<div class="form-group">
						<label>Payment method:</label>


						<div class="radio">
							<label>
								<input type="radio" name="optradio" value="cashOnDelivery" onclick="handleClick(this);" checked="checked">Cash on delivery
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="optradio" value="creditCard" onclick="handleClick(this);">Credit card</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="optradio" value="bKash" onclick="handleClick(this);">bKash</label>
						</div>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" id="paymentInfo" disabled="true">
					</div>
					<!--
					<div class="form-group">
						<input type="text" name="bKashNo" class="form-control" id="bKashNo" placeholder="Enter bKash token">
					</div>
					-->

					<button type="submit" class="btn btn-default btn-block">Place order</button>
				</form>
			</div>
		</div>

	</div>

	<div class="row footer text-center">
		<p>
			&copy; Anindya Sundar Paul and Zahin Jawad
		</p>

		<p class="social-menu">
			<span class="fa fa-facebook fa-lg"></span>
			<span class="fa fa-twitter fa-lg"></span>
			<span class="fa fa-google-plus fa-lg"></span>
			<span class="fa fa-instagram fa-lg"></span>
			<span class="fa fa-snapchat-ghost fa-lg"></span>
		</p>
	</div>


</body>

<script>
	var curVal = 0;
	var elem = document.getElementById("paymentInfo");

	function handleClick(myRadio) {
		curVal = myRadio.value;

		if (curVal == "creditCard") {
			//elem.innerHTML = "Credit card";
			elem.removeAttribute("disabled");
			elem.placeholder = "Enter credit card number";
			elem.name = "creditCardNo";

		} else if (curVal == "bKash") {
			//elem.innerHTML = "bkash";
			elem.removeAttribute("disabled");
			elem.placeholder = "Enter bKash token";
			elem.name = "bKashNo";
		} else {
			elem.setAttribute("disabled", true);
			elem.placeholder = "";
		}
	}

</script>

</html>
