<!DOCTYPE html>
<html lang="en">

<head>
	<title>Get Fit</title>
	{% include 'includes/header.html' %}
</head>


<body>

	{% include 'includes/navbar.html' %}

	<div class="container">

		<div class="col-md-8 col-md-offset-2">
			<div class="well">
				<div class="row">
					<div class="col-md-5">
						<img class="img-responsive" src="../media/{{ product.image }}">
					</div>
					<div class="col-md-7">
						<div class="row prod-header">
							<div class="col-md-8">
								<h3>{{ product.name }}</h3>
								<h4><span style="color: red">Price: ${{ product.discprice | floatformat:2}}</span>{% if product.origprice %} <s>${{ product.origprice | floatformat:2}}</s>{% endif %}</h4>
							</div>
							<div class="col-md-4 text-right rating">
								<h3>{{ product.rating }}</h3>
								<p>Rating</p>
							</div>
						</div>
						<p class="text-justify">{{ product.details }}</p>

						<div class="row qty-form">
							<form method="post" action="/add_to_cart/"> {% csrf_token %}
								<div class="col-xs-6">
									<input type="hidden" name="productid" value="{{ product.productid }}">
									<input type="number" class="form-control qty-form-qty" step="1" min="0" placeholder="Quantity" name="count">
								</div>
								<div class="col-xs-6 text-right">
									<button type="submit" class="btn btn-cart qty-form-btn">Add to cart</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>

			<div class="well">
				<div class="row">
					{% if request.session.username %}
					<form class="form-horizontal" id="review-form" method="post" action="/add_review/"> {% csrf_token %}
						<div class="form-group">
							<input type="hidden" name="username" value="{{ request.session.username }}">
						</div>
						<div class="form-group">
							<input type="hidden" name="productid" value="{{ product.productid }}">
						</div>
						<div class="form-group">
							<label for="input-rating" class="col-sm-2 control-label">Rating</label>
							<div class="col-sm-10">
								<input type="number" step="1" min="0" max="10" class="form-control" id="input-rating" placeholder="Rate the product from 0 to 10" name="rating">
							</div>
						</div>
						<div class="form-group">
							<label for="input-review" class="col-sm-2 control-label">Review</label>
							<div class="col-sm-10">
								<textarea rows="3" class="form-control" id="input-review" placeholder="Write a review about the product" form="review-form" name="details"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Submit</button>
							</div>
						</div>
					</form>
					{% else %}
					<h3 class="text-center"><a href="/enter">Sign in</a> to write a review.</h3>
					{% endif %}
				</div>
			</div>

			<a name="reviews"></a>
			<div class="well" id="reviews-header">
				<h4 class="text-center">Reviews</h4>
			</div>

			{% for review in reviews %}
			<div class="well">
				<div class="row">
					<div class="col-md-2">
						<div class="row">
							<img class="img-responsive img-circle" src="../media/{{ review.image }}">
						</div>
						<div class="row">
							<h4 class="text-center">{{ review.username }}</h4>
						</div>
					</div>
					<div class="col-md-10">
						<h4>Rated: {{ review.rating }} <span class="rating">(out of 10)</span></h4>
						<p class="text-justify">{{ review.details }}</p>
					</div>
				</div>
			</div>
			
			{% endfor %}

		</div>



	</div>

	{% include 'includes/footer.html' %}


</body>

</html>
