<!DOCTYPE html>
<html lang="en">

<head>
	<title>Get Fit</title>
	{% include 'includes/header.html' %}
</head>


<body>
	{% include 'includes/navbar.html' %}

	<div class="container">
		<h2 class="text-center" style="margin-top: 3%">{{ username }}</h2>
		<div class="row" id="profile-img">
			<div class="col-md-2 col-md-offset-5">
				<img class="img-responsive img-circle" src="../media/{{ picture }}">
			</div>
		</div>
		<div class="row text-center" style="margin-bottom: 2%">
			<a href="/delprofilepic">Remove picture</a>
		</div>
		<div class="col-sm-6 col-sm-offset-3">
			<form class="form-horizontal" method="post" action="/updprofile/"> {% csrf_token %}
				<div class="form-group">
					<label class="control-label col-sm-2" for="username">Username</label>
					<div class="col-sm-10">
						<input type="text" name="username" class="form-control" id="username" value="{{ username }}" disabled>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="email">Email</label>
					<div class="col-sm-10">
						<input type="email" name="email" class="form-control" id="email" value="{{ email }}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="password">Password</label>
					<div class="col-sm-10">
						<input type="password" name="password" class="form-control" id="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-2">
						<button type="submit" class="btn btn-default">Save</button>
					</div>
				</div>
			</form>
			<form class="form-horizontal" method="post" action="/updprofilepic/" enctype="multipart/form-data"> {% csrf_token %}
				<div class="form-group">
					<label class="control-label col-sm-2" for="ppic">Profile image</label>
					<div class="col-sm-10">
						<input type="file" name="picture" class="form-control" id="picture">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-2">
						<button type="submit" class="btn btn-default">Save</button>
					</div>
				</div>
			</form>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<hr>
			</div>
		</div>

		<div class="row">
			<h2 class="text-center">Pending orders</h2>
			<div class="col-md-8 col-md-offset-2">
				<table class="table">
					<thead>
						<tr>
							<th>Order ID</th>
							<th>Amount</th>
							<th>Due date</th>
							<th>Cancel?</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>545</td>
							<td>599.99</td>
							<td>12/5/2016</td>
							<td><a class="cancel" href=#><span class="fa fa-close"></span></a></td>
						</tr>
						<tr>
							<td>545</td>
							<td>599.99</td>
							<td>12/5/2016</td>
							<td><a class="cancel" href=#><span class="fa fa-close"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<hr>
			</div>
		</div>

		<div class="row">
			<h2 class="text-center">Order history</h2>
			<div class="col-md-8 col-md-offset-2">
				<table class="table">
					<thead>
						<tr>
							<th>Order ID</th>
							<th>Amount</th>
							<th>Due date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>545</td>
							<td>599.99</td>
							<td>12/5/2016</td>
						</tr>
						<tr>
							<td>545</td>
							<td>599.99</td>
							<td>12/5/2016</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	{% include 'includes/footer.html' %}

</body>

</html>
