<!DOCTYPE html>
<html lang="en">

<head>
	<title>Get Fit</title>
	
	{% include 'includes/header.html' %}
</head>


<body>

	{% include 'includes/navbar.html' %}

	<div class="container">

		<div class="row cat-header">
			<div class="col-md-6">
				<h3>Category <span class="fa fa-angle-right"></span> Supplements</h3>
			</div>
		</div>

		<div class="row product-row">
			<div class="col-md-3">
				<a href="product.html">
					<div class="thumbnail">
						<img class="img-responsive" src="../static/img/product.jpg">
						<div class="caption">
							<h3>Pre JYM</h3>
							<h4>Price: <span style="color: red">$19.99</span> <s>$29.99</s></h4>
							<p class="prod-sum">Pre-Workout Powder Powerhouse*. Scientifically Advanced All-In-One Formula for Improved Workouts*</p>
							<p>
								<a href="/product/#reviews" class="btn btn-default rating-btn" role="button">9.2/10</a>
								<a href="#" class="btn btn-cart shop-prod-btn" role="button"><span class="fa fa-cart-plus"></span> Add to cart</a>
							</p>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>

	{% include 'includes/footer.html' %}


</body>

</html>
